body{
    background-color: white;
    padding: 0px;
    font-family: Arial;
}

#menu ul{
    list-style: none;
    margin: 1;
    padding: 0;
}

#menu ul li{
    display: inline-block; 
}

#menu ul li a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}


.item-r{
    float: right;
}

.menuCSS3 ul li ul {
    display: none;
}

.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}

.menuCSS3 a {
    display: block;
    padding: 0px;
    background-color: none;
    text-decoration: none;
    color: #191C26;
}

 .nav__link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;
} 
 .nav__link::after{
    content: '';
    position: absolute;
    left: 0;bottom: 0;
    width: 100%;height: 3px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
} 
 .nav__link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}   

#menu{
    background-color: #8dc640;
}

img{
    
    margin-top: 1%;
    margin-right: 8%;
    width: 100%;
    size: 4px;
    height: 100%;
}

#iniciar{
    margin-left: 46%;
}

button.btn  {
    text-align: center;
    background-color: #8dc640;
    color: #fff;
    width: 160px;
    height: 5   0px;
}

a.stack{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
}


div.center{
    text-align: center;
}

h2.accordion-header{
    text-align: center;
}

div.offcanvas-body{
    background-color: #90cb43;
    width: 300px;
    
}

div.offcanvas-header{
    background-color: #90cb43;
    text-align: center;
    width: 300px;

}

a.center{
    text-align: center;
    
}

a.center1{
    text-align: center;
    font-size: x-large;
    font-weight: 900;
}