<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NaOs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</head>

<body>

  <!-- Inicia menu -->
  <div id="menu" class="menuCSS3">
    <ul>
      <button style="height: 63px; width: 63px; border: 0;" class="btn btn-outline" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions">☰</button>
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 300px;">
        <div class="offcanvas-header">      
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

          <!--<p style="color: black; padding: 5px; cursor: pointer;" routerLinkActive="router-link-active"  class="nav__link">Roles</p>
          <br> -->
          <a class="center1" style="color: white; padding: 5px; cursor: pointer;font-size: 24px;font-family: 'Montserrat', sans-serif;" href="lista-registro">Opciones</a>
          <br>
          <a class="center" style="color: white; padding: 5px; cursor: pointer;font-size: 16px;font-family: 'Montserrat', sans-serif;" href="lista-registro">Lista registro</a>
          <br>
          <a class="center" style="color: white; padding: 5px; cursor: pointer;font-size: 16px;font-family: 'Montserrat', sans-serif;" href="registro">Registrarse</a>
          <br>
          <a class="center" style="color: white; padding: 5px; cursor: pointer;font-size: 16px;font-family: 'Montserrat', sans-serif;" href="area-interes">Cursos</a>
          <br>          
          <!--<p style="color: black; padding: 5px; cursor: pointer;" routerLink="/inscripcion-alumnos" class="nav__link">Privilegios</p>
          <br> -->
        </div>
      </div>
      <li class="item-r"><a href="#" class="nav__link" data-bs-toggle="modal" data-bs-target="#ModalForm"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
            <path fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
          Iniciar Sesión</a></li>
      <li class="item-r"><a href="registro" class="nav__link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg>Registrarse</a></li>
      <li class="item-r"><a href="principal" class="nav__link"><i class="fa-solid fa-house"></i>Home</a></li>
      <li><a class="stack" href="principal">MinoTech</a></li>
    </ul>
  </div>


</body>

</html>