<div class="container">
    <title>Usuarios registrados</title>
    <br>
    
    <ul class="nav nav-tabs">
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link" href="registro">Registrarse</a>
      </li>
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link" href="lista-registro">Usuarios registrados</a>
      </li>
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link active" href="area-interes">Evento</a>
      </li>
      <li style="font-size: 15px;font-weight: 200;font-family: 'Montserrat', sans-serif;" class="nav-item">
        <a class="nav-link" href="orden">Usuarios genero</a>
      </li>
      
    </ul>
    <br>
    <!--Barra de busqueda-->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="input-group" role="search">
        <input class="form-control me-2" type="search" name="filterRol" placeholder="Buscar Usuario" aria-label="search">
        <button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
        </button>
      </form>
    </div>
    <br>
    </nav>
    
    <br>
    <div class="titulo">
      <label class="titulo">Eventos disponibles</label>
    </div>
    <br>
    <div>
      <div class="d-flex justify-content-center">
        <table class="table table-bordered border-dark text-center" *ngIf="listEvento.length > 0" >
          <thead>
            <tr>
              <th style="font-size: 18px; background: #cfcfc4;font-weight: bold;font-family: 'Montserrat', sans-serif;" scope="col" >NOMBRE EVENTO</th>
              <th style="font-size: 18px; background: #cfcfc4;font-weight: bold;font-family: 'Montserrat', sans-serif;" scope="col" >EXPOSITOR</th>
              <th style="font-size: 18px; background: #cfcfc4;font-weight: bold;font-family: 'Montserrat', sans-serif;" scope="col" >HORARIO</th>
              <th style="font-size: 18px; background: #cfcfc4;font-weight: bold;font-family: 'Montserrat', sans-serif;" scope="col" >DURACIÓN</th>
              <th style="font-size: 18px; background: #cfcfc4;font-weight: bold;font-family: 'Montserrat', sans-serif;" scope="col" >CUPO</th>
              
            </tr>
          </thead>
          <tbody>
              <tr style="font-size: 16px;font-family: 'Montserrat', sans-serif;" *ngFor="let ev of listEvento">
                  <th >{{ev.nombreEvento}}</th>
                  <th >{{ev.presentador}}</th>
                  <th >{{ev.horario}}</th>
                  <th>{{ev.duracion}}</th>
                  <th>{{ev.cupo}}</th>
                  </tr>
          </tbody>
        </table>
     <div>
     </div>
      </div>  
    </div>
  </div>