<div class="container mt-5">
    <div class="class row">
       <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body text-center">
                <span style="font-size: 20px;font-weight: bold;"  class="titulo">{{titulo | uppercase}}</span>
                <form class="mt-3" [formGroup]="usuarioForm" (ngSubmit)="obtenerEvento()">
            <!-- dropdown -->             
            <div class="mb-3">
              <div class="form-group">
                <select style="font-size: 20px;font-weight: 400;font-family: 'Montserrat', sans-serif;" name="dropdown" class="form-style" id="drd" 
                  formControlName="nombreArea">
                  <option value="" disabled selected>Selecciona evento</option>
                  <option *ngFor="let ev of listEvento" 
                  [value]="ev.nombreEvento">{{ ev.nombreEvento }}
                  </option>
                </select>
                </div>
            </div> 
                  <div class="mb-3">
                    <button style="font-size: 20px;font-weight: 500;font-family: 'Montserrat', sans-serif;" routerLink="/lista-registro" class="btn btn-secondary btn-lg float-start">Volver</button>
                    <button style="font-size: 20px;font-weight: 500;font-family: 'Montserrat', sans-serif;" routerLink="/lista-registro" [disabled]="usuarioForm.invalid" class="btn btn-success btn-lg float-end" (click)="agregarUsuario()">Aceptar</button>
                  </div>
                </form>
            </div>
        </div>
       </div>
    </div>
  </div>

