<div class="container">
<form (ngSubmit)="crearCurso()" [formGroup]="cursoForm">
  <div class="form-group">
    <label for="nombreCurso">Nombre del Curso</label>
    <input type="text" class="form-control" id="nombreCurso" placeholder="Ingrese el nombre del curso" formControlName="nombreCurso" required>
  </div>
  <div class="form-group">
    <label for="tipoCurso">Tipo de Curso</label>
    <input type="text" class="form-control" id="tipoCurso" placeholder="Ingrese el tipo de curso" formControlName="tipoCurso" required>
  </div>
  <div class="form-group">
    <label for="img">Imagen del Curso</label>
    <input type="file" class="form-control-file" id="img" accept="image/*" formControlName="img" (change)="onFileSelected($event)" required>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción del Curso</label>
    <textarea class="form-control" id="descripcion" rows="3" placeholder="Ingrese la descripción del curso" formControlName="descripcion" required></textarea>
  </div>
  <div class="form-group">
    <label for="horas">Horas</label>
    <input type="number" class="form-control" id="horas" placeholder="Ingrese el número de horas" formControlName="horas" required>
  </div>
  <div class="form-group">
    <label for="idioma">Idioma</label>
    <input type="text" class="form-control" id="idioma" placeholder="Ingrese el idioma del curso" formControlName="idioma" required>
  </div>
  <div class="form-group">
    <label for="valoracion">Valoración</label>
    <input type="number" class="form-control" id="valoracion" placeholder="Ingrese la valoración del curso" formControlName="valoracion" required>
  </div>
  <div class="form-group">
    <label for="pais">País</label>
    <input type="text" class="form-control" id="pais" placeholder="Ingrese el país del curso" formControlName="pais" required>
  </div>
  <div class="form-group">
    <label for="precio">Precio</label>
    <input type="number" class="form-control" id="precio" placeholder="Ingrese el precio del curso" formControlName="precio" required>
  </div>
  <button type="submit" class="btn btn-primary">Crear Curso</button>
</form>
</div>
