button.btn  {
    text-align: center;
    background-color: #8dc640;
    color: #fff;
    width: 160px;
    height: 5   0px;
}

img{
    
    margin-top: 1%;
    margin-right: 8%;
    width: 100%;
    size: 4px;
    height: 100%;
}

div.center{
    text-align: center;
}